<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}"
      sec:authorize="hasAnyRole('ADMINISTRATOR')"
>
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Employee Details</h1>

    <div class="form-group">
        <h5>Name</h5>
        <label th:text="${employee.getName()}"></label>
    </div>
    <div class="form-group">
        <h5>Salary</h5>
        <label th:text="${employee.getSalary()}"></label>
    </div>
    <div class="form-group">
        <h5>Joining Date</h5>
        <label th:text="${employee.getJoiningDate()}"></label>
    </div>
    <div class="form-group">
        <h5>Salary</h5>
        <label th:text="${employee.getSalary()}"></label>
    </div>
    <div class="form-group">
        <h5>Work Email</h5>
        <label th:text="${employee.getWorkEmail()}"></label>
    </div>
    <div class="form-group">
        <h5>National Insurance Number</h5>
        <label th:text="${employee.getNationalInsurance()}"></label>
    </div>
    <div class="form-group">
        <h5>Other Expenses</h5>
        <label th:text="${employee.getOtherExpenses()}"></label>
    </div>

    <br>

    <h3>Personal Details</h3>
    <div class="form-group">
        <h5>Birth Date</h5>
        <label th:text="${employee.getPersonalDetails().getBirthDate()}"></label>
    </div>
    <div class="form-group">
        <h5>Address</h5>
        <label th:text="${employee.getPersonalDetails().getAddress()}"></label>
    </div>
    <div class="form-group">
        <h5>Personal Email</h5>
        <label th:text="${employee.getPersonalDetails().getPersonalEmail()}"></label>
    </div>
    <div class="form-group">
        <h5>Phone Number</h5>
        <label th:text="${employee.getPersonalDetails().getPhoneNumber()}"></label>
    </div>
    <div class="form-group">
        <h5>Address</h5>
        <label th:text="${employee.getPersonalDetails().getAddress()}"></label>
    </div>
    <div class="form-group">
        <h5>Passport Number</h5>
        <label th:text="${employee.getPersonalDetails().getPassportNumber()}"></label>
    </div>

    <br>

    <h3>Emergency Contact Details</h3>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>EC Name</th>
            <th>EC Phone Number</th>
            <th>EC Relationship</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ec: ${employee.getEmergencyContactDetails()}">
            <td th:text="${ec.getName()}">Salary</td>
            <td th:text="${ec.getPhoneNumber()}">Salary</td>
            <td th:text="${{ec.getRelationship().toString()}}">Joining Date</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>