<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}"
      sec:authorize="hasAnyRole('ADMINISTRATOR')"
>

<head>
  <meta charset="UTF-8">
  <title>Employees</title>
</head>
<body>
<br>
<div layout:fragment="content">

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort By:
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/employees?sorted=age">Age</a>
      <a class="dropdown-item" href="/employees?sorted=salary">Salary</a>
      <a class="dropdown-item" href="/employees?sorted=date">JoiningDate</a>
    </div>
  </div>

  <br>

  <div>
    <h1>Employees</h1>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th><i class="fas fa-user"></i> Employee Name</th>
        <th><i class="fas fa-money-bill"></i> Salary</th>
        <th><i class="fas fa-calendar"></i> Joining Date</th>
        <th><i class="fas fa-inbox"></i> Work Email</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="e: ${employees}">
        <td> <a th:href="@{/employees/{id}(id=${e.getId()})}" th:text="${e.getName()}">Name></a></td>
        <td th:text="${e.getSalary()}">Salary</td>
        <td th:text="${{e.getJoiningDate()}}">Joining Date</td>
        <td th:text="${{e.getWorkEmail()}}">Work Email</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


</body>
</html>