<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/default}">
<head>
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <div layout:fragment="content">
        <br>
        <h1> About <th:block th:text="${businessInformation.getBusinessName()}">t</th:block></h1>
        <p th:text="${businessInformation.getBusinessDescription()}"></p>
    </div>
</body>
</html>